html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em sans-serif, georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
  background: rgb(242,194,48);
  background: radial-gradient(circle, rgba(242,194,48,1) 0%, rgba(242,135,5,1) 50%, rgba(123,54,39,1) 100%);
}
body {
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-family: "courier";
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
}

.nav {
  display: flex;
}

.nav-links {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-link-text:hover {
  color: #7B3627;
}
.site-title {
  position: relative;
  display: flex;
  align-items: center;
  height: 90px;
  flex-shrink: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: auto;
}

.site-title::after {
  content:'🍻';
  position: absolute;
  right: -50px;
  bottom: 35px;
  font-size: 2rem;
  margin-right: auto;
}

.nav-link-item {
  padding-left: 2rem;
}
.siteFooter{
  text-align: center;
  font-size: medium;
  position: absolute;
  bottom: 0;
  height: 2.5rem; 
}